# =========================
# Python cache & builds
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# =========================
# Virtual Environments
# =========================
.env
.venv/
venv/
tf_env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# DATASETS (DO NOT PUSH)
# =========================
DATA/archive/Driver Drowsiness Dataset (DDD)/
DATA_PREPROCESSED/
DATA_SPLIT/

# =========================
# Model files & checkpoints
# =========================
*.h5
*.keras
*.pt
*.pth
*.ckpt
models/
checkpoints/

# =========================
# NumPy binaries (only data)
# =========================
*.npy
*.npz

# =========================
# Logs & temp
# =========================
*.log
logs/
tensorboard/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
